@using Humanizer
@using TorrSaver.Downloaders
@model TorrSaver.Controllers.HomeModel
@{
    ViewData["Title"] = "Home Page";
}

<a href="@Url.Action("Index", "Home")">Refresh</a>

<table class="table">
    <tbody>
    @foreach (var status in Model.Statuses)
    {
        <tr>
            <td  style="width: 60%;">@status.Media.Name</td>
            <td>
                @status.State
                @if (status.State == DownloadState.Error)
                {
                    @status.ErrorMessage
                }
            </td>
            <td>
                @status.CompleteBytes.Bytes().Humanize()
            </td>

            <td>
                @status.Speed.Bytes().Humanize() / sec
            </td>

            <td>
                <a class="btn btn-danger" role="button" href="@Url.Action("Stop", "Home", new { id = status.Id })">Stop</a>
            </td>
        </tr>
    }
    </tbody>
</table>

<table class="table">
    <tbody>
    @foreach (var media in Model.TorrMedias)
    {
        <tr>
            <td  style="width: 60%;">@media.Name</td>
            <td>
                <a class="btn btn-primary" role="button" href="@Url.Action("Start", "Home", new { link = media.Link })">Download</a>
            </td>
        </tr>
    }
    </tbody>
</table>